@import url(background.cgi);

body
{
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 1.5em;
    margin: 20px;
    min-width: 900px;
}

h1
{
    font-family: Verdana, sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    margin-top: 0px;
}

h1:lang(ja)
{
    font-size: 13px;
    font-weight: normal;
}

h1 span
{
    background: black;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 6px;
    padding-right: 6px;
    margin-bottom: 1px;
    white-space: nowrap;
    display: block;
    float: left;
    clear: both;
}

h3
{
    font-size: 11px;
    padding-bottom: 0px;
}

a {
  color: black;  
}

a:focus
{
    outline: none;
}

a.current
{
    text-decoration: none;
    cursor: default;
}

p.offset
{
    border-top: 1px solid black;
    padding-top: 2ex;
    margin-top: 1ex;
}

div.column
{
    background: white;
    width: 230px;
    padding: 20px;
    margin-right: 20px;
    float: left;
    min-height: 230px;
}

ul {
   padding-left: 0px; 
   list-style: none;
}

li {
    margin-left: -10px;
    padding-left: 10px;
    background: url(data/bullet.png) 0px 1.1ex no-repeat;
}

.menu
{
    padding-top: 15px;
    text-transform: lowercase;
    font-weight: bold;
    list-style: none;
    padding-left: 0px; 
    clear: both;
}

.menu li, .silent li
{
    background: none;
}

.end
{
    clear: both;
}

img.replaced
{
    padding-left: 1px;
    padding-right: 1px;
    vertical-align: 12%;
}

body.jsWorks div.column div, body.jsWorks h2
{
    display: none;
}
