<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>送信されました</title>
    <link rel="stylesheet" media="screen" href="/styles/style.css" type="text/css">
</head>
<body>
    <div id="done">
        <h1><span>送信されました</span></h1>
        <p>ご依頼内容は正常に送信されました。ありがとうございます。折り返しご連絡させていただきます。</p>
        <a href="/">ホームへ→</a>
    </div>
</body>
