<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>Formulář byl úspěšně odeslán</title>
    <link rel="stylesheet" media="screen" href="/styles/style.css" type="text/css">
</head>
<body>
    <div id="done">
        <h1><span>Odesláno</span></h1>
        <p>Formulář byl úspěšně odeslán. Děkujeme za váš zájem,
        ozveme se co nejdříve.</p>
        <a href="/">Pokračovat →</a>
    </div>
</body>
