<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Form successfully submitted</title>
    <link rel="stylesheet" media="screen" href="/styles/style.css" type="text/css">
</head>
<body>
    <div id="done">
        <h1><span>Submitted</span></h1>
        <p>The form has been succesfully submitted. Thank You for
        your interest, we will contact You as soon as possible.</p>
        <a href="/">Continue →</a>
    </div>
</body>
