Hezký den,

na vašich webových stránkách někdo vyplnil kontaktní formulář:

  Jméno: [% form.param_value('name') %]
Kontakt: [% c.config.notify %]

[%- IF form.param_value('type') == 1 %]
Klient má zájem o překlad, podrobný popis zakázky:
[%- ELSE %]
Klient má zájem o tlumočení, podrobný popis zakázky:
[%- END %]

[% form.param_value('description') %]

Tenhle mail posílá robot. Kdyby došlo k nějakým potížím, nebojte
se napsat na adresu zoul@fleuron.cz, kde vám robota rychle a rádi
opraví.
