<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>Překlady a tlumočení japonštiny, češtiny a angličtiny</title>
    <link rel="stylesheet" media="screen" href="/styles/style.css" type="text/css">
    <link rel="stylesheet" media="print" href="/styles/print.css" type="text/css">
    <script type="text/javascript" src="/code.js"></script>
</head>
<body>
    <script type="text/javascript">
        document.body.className = "jsWorks";
    </script>

    [% INCLUDE "templates/czech.tt" %]
    [% INCLUDE "templates/english.tt" %]
    [% INCLUDE "templates/japanese.tt" %]
    <div class="end"></div>

    [%- IF !debug %]
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-3168731-9");
        pageTracker._trackPageview();
    } catch(err) {}
    </script>
    [%- END %]
</body>
</html>
