<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>送信できませんでした</title>
    <link rel="stylesheet" media="screen" href="/styles/style.css" type="text/css">
</head>
<body>
    <div id="done">
        <h1><span>エラー</span></h1>
        <p>送信中にエラーが発生しました。ページを再度表示させるか、しばらくしてからもう一度記入してください。エラーが繰り返し発生する場合は、メールまたは電話でご連絡ください。ご迷惑をおかけし、申し訳ございません。</p>
        <a href="/">戻る→</a>
    </div>
</body>
