<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Error submitting the form</title>
    <link rel="stylesheet" media="screen" href="/styles/style.css" type="text/css">
</head>
<body>
    <div id="done">
        <h1><span>Error</span></h1>
        <p>There has been an error submitting the form. Try reloading
        the page or filling the form later. If the problem persists,
        please <a href="mailto:radmila@kotoba.cz">send us an e-mail</a>
        or give us a call. We apologize for the inconvenience.</p>
        <a href="/">Give Up →</a>
    </div>
</body>
